@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.chat-body{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: #EEE7DF;
    gap: 10px;
}

.chat-wrap{
    max-width: 420px;
}