
.message-box{
    border-radius: 10px;
    background-color: #FBFBFB;
    max-width: 70%;
    align-self: flex-start;
    padding: 8px 8px 8px;
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.3);
}

.message-box--me{
    background-color: #DDF9C8;
    align-self: flex-end;
    min-width: 50%;

}

.message-date-and-status{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #888888;
    font-size: 12px;
}