@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: "Inter", sans-serif;
}

.homepage-body{
    background-color: #18191B;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 50px 200px;
}
.section-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0px;
}
.cards-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 380px;
    border: 1px solid #51565D;
    
    
    gap: 5px;
    padding: 16px;
    

    border-radius: 9px;
}

.text-card {
    font-size: 12.8px;
    text-align: start;

}
.feature-article-head{
    font-size: 12.8px;
    text-decoration: none;
    color: white;
}

.feature-article-bottom{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

